@import "reset.css";
@import "colors.css";

.container {
  /*border: 1px solid var(--primary-color);*/
  padding: 1em;
}

body {
  min-height: 100vh;
}

* {
  font-family: "Fira Code", monospace;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.h-flex {
  display: flex;
  justify-content: center;
}

.page {
  flex-grow: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main {
  width: 50rem;
}

footer {
  display: flex;
  justify-content: space-between;
}
